
Debug/
Release/
Objects/
Listings/

*.o
*.obj
*.d
*.dep
*.map
*.lst
*.crf
*.bak
*.tmp


*.axf
*.elf
*.hex
*.bin
*.lib


*.uvoptx
*.uvguix.*
*.lnp
*.build_log.htm
*.htm
*.html


!*.uvprojx
!*.uvproj


.settings/
.clinerules/

.vscode/


Thumbs.db
Desktop.ini
workspace.code-workspace

.DS_Store


*~

*.log


*.swp
*.swo


__pycache__/



*.code-workspace